*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 2rem;
  width: 50vw;
  height: 100vh;
  color: white;
  background-image:  url(https://lh3.googleusercontent.com/aida-public/AB6AXuC9a0fesd_HBK6D2PzBcmRuFmRmE-txrFAv8HAhh7LhDPE5dJwKjTcReGewqZohRlwsWeBtW_TanE3KVAHhy-W3NU-QZ_0ILNxutP6deyK0aFnbJ-f2J7yQkqLJ7WN1gDqa84GtZ2gUy71DjbKFzPfach9M4w5PSV4edoC83mmsKi8fqnDBa1YlWC6mrHz5Yh5tLohHWNp0TTwO8pdxrrnQ5fpMXxXKRt6pVppj2OQ7qdBkdryzJ1JUwBLWhljAwde-9nINsOi6M-qu);
  font-size: 1.5rem;
  background-size: cover;
}

.titleCard{
  display: flex;
  align-items: center;
} 

.setaCard{
  width: 2rem;
  height: 2rem;
  margin-right: 1rem; 
  display: inline-flex;
}
